@import '../../variables';

.car-details-wrap {
  width: 90%;
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  color: white;
  margin-bottom: 50px;
}
.car-left {
  width: 400px;
}
.car-specs {
  margin-left: 100px;
  div:nth-child(2n + 1) {
    background: $darkLight;
  }
  div {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    h3 {
      margin: 0;
      width: 50%;
    }
    p {
      margin: 0;
      width: 50%;
    }
  }
}
