@import '../../variables';

.main-footer {
  width: 100vw;
  height: 50px;
  background: $darkMidDark;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  p {
    color: $light;
    font-family: $font;
  }
}
