@import '../../variables';

.main-header {
  width: 100vw;
  height: 70px;
  background: $darkMidLight;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.main-nav {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  img {
    width: 200px;
    height: 100%;
  }
}
