@import '../../variables';

.main-header {
  width: 100vw;
  background: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding: 15px 0px 15px 0px;
}

.main-nav {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  img {
    width: 200px;
    height: 100%;
  }
}
