@import '../../variables';

.sidebar {
  background: $darkMidDark;
  border-right: solid 2px $darkDark;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1000;
}
