@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

// Color Scheme
$prime: #296aa6;
$second: #104f79;
$dark: #282c34;
$light: #efebdf;
$brown: #a27849;

// Font
$font: 'Montserrat', sans-serif;