@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

// Color Scheme
$blue: #009fd9;
$teal: #45dce5;
$purple: #645fe8;
$lavendar: #aa54f8;
$pink: #e64688;

$darkDark: #1a1e37;
$darkMidDark: #262c46;
$darkMidLight: #303757;
$darkLight: #445072;
$light: #9ca1b4;

// Font
$font: 'Montserrat', sans-serif;
