@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

// Color Scheme
$blue: #3173db;
$green: #55bb8d;
$purple: #8c60c8;
$lavendar: #7e83f7;
$red: #dd5242;
$yellow: #e9b443;

$darkDark: #101112;
$darkMid: #212223;
$darkLight: #2c2d30;
$light: #b9bdbf;

// Font
$font: 'Montserrat', sans-serif;
